</body>
<footer>
    <div class="footerLinks">
        <a href="">Home</a>
        <% if(auth){ %>
        <a href="">Login</a>
        <%}else{%>
        <a href="">Sign up</a>
        <% } %>
        <a href="">About us</a>
    </div>
</footer>

</html>