<%- include('partials/header.ejs',{auth:true}) %>
<div class="container">
    <div class="row">
        <div class="col" id="surveyHeader">
            <h1>Welcome lets get you start with a quick survey!</h1>
            <button type="button" class="btn btn-primary" id="start">Start</button>
        </div>
    </div>
    <br />
    <br />
    <form name="survey-form" id="surveyForm">

    </form>

    <br />
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/surveypage.js"></script>
<%- include('partials/footer.ejs', {auth:true}) %>