<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/userprofile.css">
  <title>Profile</title>
</head>

<body>

  <div class="container1">
    <div class="profile-image">
      <img src="images/test1.png" />
    </div>

    <div class="user-name">
      <h2>Juan Castillo</h2>
      <h2>castillojuan1000@gmail.com</h2>
    </div>

  </div>

</body>

</html>