<%- include('partials/header.ejs', {auth: true}) %>
<div class="container1">
  <div class="profile-image">
    <img src="images/test1.png" />
  </div>
  <div class="user-name">
    <h2><%= name %></h2>
    <h2><%= email %></h2>
  </div>
</div>

<%- include('partials/footer.ejs', {auth: true}) %>