<%- include('partials/header.ejs', {auth: isAuthenticated}) %>


<div class="welcomeContainer">
    <div>
        <h1>Need gift ideas?</h1>
        <div>
            <h3>Gift for [<span id="giftReceiver">Dad</span>]</h3>
            </h3>
            <a class="btn">Start</a>
        </div>
    </div>
</div>




<%- include('partials/footer.ejs', {auth: isAuthenticated}) %>