.header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: RGBA(0,0,0, 1);
    height: 5vh;
    border-bottom: 5px solid RGBA(188, 191, 80, 1);
}


/*container holds filter and search results
*/
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 0%;
}

/*container for all search results
*/
.listing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 80%;
    margin-left: 15%;
    padding: 5%;
    padding-right: 0%;
    padding-left: 2%;
    padding-top: 0;

}

/*filter section container
*/
.filter-section {
    position: fixed;
    text-align: left;
    margin-top: 1%;
    top: 5%;
    width: 15vw;
    height: 90vh;
    background: rgba(221, 222, 213, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.filter-section h3 {
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center !important;
}

.filter-section .check-container {
    margin: 10%;
    margin-left: 0;
}

.filter-section label {
    color: RGBA(0,0,0,0.7);
}

.filter-section .filter {
    padding: 3%;
}


.filter-section .row {
    text-align: center !important;
    padding-top: 10%;
    padding-bottom: 5%;
    background: RGBA(0,0,0, .8) !important;
    color: white;
    border-bottom: 3px solid RGBA(188, 191, 80, 1);
    border-radius: 10px;
}

.slider-handle {
    border: 1px solid RGBA(188, 191, 80, 1);
    background: RGBA(0,0,0, 1);
}

.slider {
    height: 2px;
    width: 50% !important;
    margin-right: 3%;
    margin-left: 3%;
}

.slider .slider-track {
    height: 2px;
    background: RGBA(0,0,0, .4);
    border: 1px solid RGBA(188, 191, 80, .5);
}

#price-slider {
    height: 10px;
}

.filter-section .input-group {
    padding: 8%;
    border-radius: 10px;
    border: 1px solid RGBA(188, 191, 80, .5);
    background: RGBA(0,0,0, .2);
}
.filter-section input {
    color: white;
}

.filter-section input:focus{
    color: white;
    background: RGBA(255,255,255, .1);
}

.input-group-prepend, .input-group-text {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    background: RGBA(255,255,255, .05);
    border: 1px solid transparent;
}

.input-group input {
    margin-right: 5%;
    border-radius: 10px;
    background: RGBA(255,255,255, .1);
    border: 1px solid transparent;
}

.slider .slider-selection {
    width: .2em !important;
    background: RGBA(188, 191, 80, .6)
}

.card {
    background: RGBA(255,255,255, .1);
}

.cat-list {
    margin-top: 1vh;
    text-align: left;
    font-size: 1.1em;
    line-height: 200%;
    max-height: 40vh;
    overflow-y: scroll;
    border-radius: 20px;
}

.cat-list::-webkit-scrollbar {
    background: RGBA(0,0,0, .1);
    width: 10px;
   }

.cat-list::-webkit-scrollbar-thumb {
    background-color: RGBA(188, 191, 80, .8);
    border-radius: 10px;
}


.cat-list .list-group {
    background: RGBA(0,0,0, .1) !important;
}

.cat-list .list-group-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: .8em;
    width: 100%;
    list-style: none;
    background: RGBA(0,0,0, .1) !important;
    border-bottom: 3px solid RGBA(188, 191, 80, 1);
}

.cat-list .list-group-item:hover {
    background: RGBA(255,255,255, 0.2) !important;
}

.fa {
    padding-right: 4%;
    color: RGBA(188, 191, 80, 1); 
}

.fa.hidden {
    color: RGBA(188, 191, 80, 0); 
}



/*single listing container
*/
.item-container {
    cursor: pointer;
    width: 18% !important;
    margin: 1%;
    padding: 2%;
    padding-bottom: .5%;
    background: #f5fcf7;
    border: 1px solid RGBA(0,0,0, 0.2);
    border-radius: 3px;
}

.item-container:hover {
    transform: scale(1.05);
}

.item-container h1 {
    font-size: 1.1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100;
}

.item-container h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.item-container a {
    color: black;
    text-decoration: none;
}

.item-container img {
    width: 100%;
    border: 1px solid RGBA(0,0,0, 0.2);

}

body {
    background-color: #f5fcf7;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-family: 'Dosis, sans-serif';
    letter-spacing: 2px;
}





.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    background: RGBA(255,255,255, 0.3);
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background: RGBA(255,255,255, 0.6);
    border: 2px solid RGBA(188, 191, 80, 1); 
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background: RGBA(0,0,0, 1);
    border: 2px solid RGBA(255,255,255, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid RGBA(188, 191, 80, 1);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.toggle-btn {
    display: none;
    top: 5%;
    left: 1%;
    position: fixed;
    z-index: 1000;
    background: RGBA(0,0,0, .8);
    color: white;
    margin-top: 1%;
    font-size: .5em;
    padding: 3%;
    letter-spacing: 2px;
    font-weight: 100;
    box-shadow: 1px 10px 10px 2px rgba(0,0,0, .6);
    border: 2px solid RGBA(188, 191, 80, 1);
}

.toggle-btn:hover {
    color: white;
    transform: scale(1.05);
    background: rgba(0,0,0, .9);
    border-bottom: 4px solid RGBA(188, 191, 80, 1);
}

.toggle-btn:active {
    transform: scale(1.01);
    background: rgba(0,0,0, .9);
    background: rgb(217,217,217);
    background: linear-gradient(66deg, rgba(217,217,217,0.4797093837535014) 0%, rgba(0,0,0,0.835171568627451) 25%);    border-bottom: 4px solid RGBA(188, 191, 80, 1);
}


@media only screen and (max-width: 1800px) {

 .listing-container {
     margin-left: 22%;
 }
 .item-container {
     min-width: 21% !important;
 }
 .filter-section {
    z-index: 100;
    width: 23%;
    height: auto;
}
}

@media only screen and (max-width: 1400px) {
 
    .listing-container {
        margin-left: 28%;
    }
    .item-container {
        min-width: 25% !important;
    }
    .filter-section {
        z-index: 100;
        width: 25%;
        height: auto;
    }
}

   @media only screen and (max-width: 900px) {

    .listing-container {
        margin-left: 10%;
    }
    .item-container {
        min-width: 48% !important;
    }
    .filter-section {
        z-index: 100;
        width: 30%;
        height: auto;
    }

    .hide-show {
        display: none;
    }
    .toggle-btn {
        border-radius: 20px;
        padding: 2%;
        font-size: 1.4em;
        display: block;
    }
   }


   

   @media only screen and (max-width: 700px) {

    .filter-section {
        z-index: 100;
        width: 60%;
    }

    .listing-container {
        margin-left: 20%;
        margin-top: 10%;
    }
    .item-container {
        margin-bottom: 5% !important;
        min-width: 90% !important;
    }
   }

   @media only screen and (max-height: 1000px){
    .cat-list {
        max-height: 23vh;
    }
   }